body{
    color: #000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: gray;
}
#Header
{
    background-image:linear-gradient(93deg, #000046 0%, #0087BD 41%, #000046 90%);
    color: white;
    margin: 0;
    padding: .5em;
    font-weight: bold;
    font-size: 40px;    
}
#container
{
    width: 70%;
    padding: 1.5em;
    text-align: left;
    border: 1px solid black;
    margin: 1px auto;
    font-weight: 300;
    box-shadow: 0px 5px 30px 0px black;
    background-color: #fff;
}
#container h1{
    font-size: 40px;
}
#Header #Tagline
{
    margin: 00px 0px 0px 20px;
    font-weight: normal;
    font-size: 20px;
}
